/* Começo das configurações da barra de navegação */

header {
position: fixed;
top: 0;
width: 100%;
background-color: black;
z-index: 2;
}

.barra-navegacao {
height: 30px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
background-color: black;
}

.nome-barra-de-navegacao {
font-family: "Montserrat", sans-serif;
text-align: center;
color: #fff;
font-size: 30px;
}

.logo img {
display: inline-block;
vertical-align: middle;
height: max-content;
max-height: 60px;
}

.botao-de-login {
position: relative;
width: 40px;
height: auto;
cursor: pointer;
transition: transform 0.2s;
}

.botao-de-login:hover {
transform: scale(1.2);
}

.atalhos-complementares {
display: flex;
justify-content: space-between;
padding: 2px 50px;
background-color: black;
}

.atalho-complementar {
color: white;
text-decoration: none;
padding: 10px 20px;
border-radius: 5px;
transition: background-color 0.3s;
}

.atalho-complementar:hover {
background-color: #333;
}

/* Fim das configurações da barra de navegação */

/* Começo das configurações do conteúdo da página */

body {
margin: 0;
padding: 0;
font-family: "Montserrat", sans-serif;
position: relative;
background-image: url('C:/Trabalho HTML/Pagina Inicial/ImagemInicial.png');
background-size: 230vh;
background-position: center;
background-repeat: no-repeat;
height: 127vh;
display: flex;
justify-content: center;
align-items: center;
}

body::after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.5);
}

.conteudo-da-pagina {
margin-top: 10px;
padding: 10px;
padding: 50px;
border-radius: 50px;
height: calc(112vh - 10px);
z-index: 1;
}

.titulo-pagina-inicial {
font-size: 58px;
text-align: center;
}

.escrita-pagina-inicial {
font-size: 20px;
text-align: center;
}

.botoes-complementares-geral {
display: flex;
text-align: center;
justify-content: center;
margin-top: 20px;
}

.botao-complementar-config {
margin: 0 10px;
}
.botao-complementar-config a {
display: flex;
flex-direction: column;
align-items: center;
text-decoration: none;
color: black;
}
.botao-complementar-config img {
width: 100px;
margin-bottom: 10px;
}

.botao-complementar-design {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 10px;
border-radius: 30px;
background-color: black;
color: #fff;
border: none;
cursor: pointer;
transition: opacity 0.3s;
text-decoration: none;
width: 200px;
}

.botao-complementar-design:hover {
opacity: 0.7;
}

footer {
background-color: black;
color: white;
padding: 10px;
text-align: center;
position: absolute;
bottom: 0;
width: 98%;
z-index: 3;
}



/* Alterações para tornar a página responsiva para dispositivos móveis */

@media only screen and (max-width: 600px) {
body {
background-size: cover;
padding-top: 50px;
}

.barra-navegacao {
height: auto;
padding: 10px 0;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.logo img {
max-height: 40px;
}

.nome-barra-de-navegacao {
font-size: 20px;
}

.atalhos-complementares {
display: flex;
align-items: center;
}

.atalho-complementar {
padding: 10px;
}

.conteudo-da-pagina {
padding: 20px;
text-align: center;
}

.titulo-pagina-inicial {
font-size: 34px;
text-align: center;
}

.escrita-pagina-inicial {
font-size: 15px;
text-align: center;
}

.botoes-complementares-geral {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.botao-complementar-config {
margin: 20px;
width: 35%;
}

.botao-complementar-config img {
width: 50px;
}

.botao-complementar-design {
width: 100%;
}

footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
background-color: black;
color: white;
padding: 10px;
text-align: center;
}
}
